<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items; let i = index" (click)="itemTapped($event, item)">
      <div padding style="font-size: 17px">
        مشاهدة الحلقة رقم {{i + 1}}
        <span *ngIf="item.watched" > ✔ </span>
        <div style="color: gray; font-size: 15px">{{(item.durationSeconds / 60) | number:'1.0-0' }} دقيقة</div>
      </div>
    </button>
  </ion-list>
</ion-content>
